body {
  background-color: black;
  font-family: "Playfair display";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: url("../images/la.webp");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 900px;
}
header h1 {
  font-size: 128px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffb22c;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 500px;
}
header h2 {
  margin-top: 30px;
  padding-top: 30px;
  letter-spacing: 5px;
  color: red;
  margin: 0 auto;
}
header h3 {
  color: white;
  background: black;
  max-width: 450px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

button {
  border-radius: 50%;
  padding: 9px;
  background-color: brown;
  font-size: 14px;
  font-family: "Poppins";
  line-height: 1;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}

section {
  max-width: 100%;
  margin: 0 auto;
  color: white;
  padding: 100px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-3-columns-one-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  padding-top: 100px;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 100px;
}
.grid-2-columns img {
  height: 700px;
}
.grid-2-columns a {
  color: black;
  text-decoration: none;
  margin-top: 7px;
}
main h2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  width: 135px;
  background-color: brown;
  padding: 5px;
}
main h3 {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 48px;
  color: white;
}
.secondary {
  padding-top: 0;
}
.secondary h2 {
  margin: 0 auto;
  max-width: 50px;
  padding: 5px;
}
.secondary h3 {
  margin: 0 auto;
  padding: 20px 100px 0;
  max-width: 850px;
  margin-bottom: 0;
}
.secondary h4 {
  color: #ffb22c;
  font-size: 20px;
  font-family: "Playfair Display";
  margin-top: 0;
}
.secondary h5 {
  color: #ffb22c;
  font-size: 15px;
  font-family: "Playfair Display";
  margin: 0;
}
p {
  font-family: "Poppins";
}
.card {
  background-color: #ffb22c;
  padding: 0 15px 15px;
  margin-top: 0;
  color: black;
}

.card a {
  text-decoration: none;
  color: black;
}
.card button {
  display: block;
  margin: 0 auto;
  background-color: brown;
}
.card-body {
  padding: 30px;
}
footer {
  font-family: "Poppins";
}

footer p {
  color: white;
}
.open-sourced {
  text-align: center;
}
footer a {
  color: white;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
.open-sourced a {
  color: brown;
}
@media (max-width: 960px) {
  header {
    max-width: 100%;
    background-size: cover;
    height: 200px;
  }
  header h1 {
    font-size: 34px;
    padding-top: 90px;
    margin-bottom: 10px;
  }
  header h2 {
    padding-top: 5px;
    font-size: 10px;
  }
  header h3 {
    font-size: 24px;
  }
  header button {
    padding: 4px;
    font-size: 8px;
    border: none;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  .grid-2-columns {
    padding-bottom: 0;
    padding-top: 30px;
    margin-top: 60px;
  }
  .grid-2-columns button {
    margin-top: 0;
    display: block;
    margin: 0 auto;
    border: none;
  }
  img {
    display: none;
  }

  button {
    padding: 10px;
    border: none;
  }

  .secondary h2 {
    margin-top: 40px;
  }
  .secondary h3 {
    font-size: 48px;
    text-align: center;
    padding: 0;
    margin-top: 20px;
  }
  .grid-3-columns {
    padding-top: 15px;
  }
  .grid-2-columns button {
    padding: 15px;
    margin-left: 25px;
    border: none;
  }
}
